<!DOCTYPE html>
<html>
<title></title>
<head>
    <style table, th, td {border: 1px solid black;}>
    </style>
</head>
<body>
<h1> AVAILABLE COURSES </h1>
<table>

             <tr>
            <th bgcolor="yellow">Sr. no.</th>
            <th bgcolor="yellow">Course Name</th>
            <th bgcolor="yellow">Course Description</th>
            <th bgcolor="yellow">Price</th>
            <th bgcolor="yellow">Author</th>
             </tr>
        <tr>
        <td>1</td>
        <td>Humanities</td>
        <td>History</td>
        <td>Rs100</td>
        <td>Anil</td>
            <td><button>purchase now</button></td>
        </tr>
    <tr>
        <td>2</td>
        <td>Commerce</td>
        <td>Accountancy</td>
        <td>Rs200</td>
        <td>Rishabh</td>
        <td><button>purchase now</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Science</td>
        <td>Non Med</td>
        <td>Rs150</td>
        <td>Rahul</td>
        <td><button>purchase now</button></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Medical</td>
        <td>Biology</td>
        <td>Rs160</td>
        <td>Saurabh</td>
        <td><button>purchase now</button></td>
    </tr>



</table>
</body>

</html>